@model Restor.Models.Employe

<div class="flex-container">
  <div class="flex-item">
    <img src="~/Restoran.png" width="100%" height="500px" alt="Шапка">
  </div>
<div class="flex-item">
  <div class="recomendation">
    <h2>
      КАР'ЄРА В THREE WISHES
    </h2>
    <p>У KFC ми приділяємо особливу увагу людині, незалежно від того, 
        чи є вона відвідувачем або членом великої родини KFC.
        Ось чому ми наполегливо працюємо та інвестуємо так багато
        в підтримку та розвиток дивовижного робочого середовища для всіх членів нашої команди.
        У наших ресторанах ми застосовуємо сучасні методи управління, постійно адаптуємось до змін,
        заохочуємо ініціативу, винагороджуємо за відмінні результати та постійно 
        створюємо можливості для розвитку наших співробітників! </p>
     <h2>
      Чи бажаєте ви працювати з нами
    </h2>
    <p>У KFC ми завжди створюємо можливості зростання для всіх працівників.
        Наші люди є рушійною силою в наших ресторанах, а наші міцні ґрунтовні цінності є основою, 
        на якій будується кожна дія компанії. Якщо ви хочете стати частиною команди, яка постійно розвивається,
        пропонуючи унікальний досвід кожному, надішліть нам своє резюме. Приєднуйтесь до команди KFC і насолоджуйтесь
        приємною робочою обстановкою, постійним розвитком, у мережі ресторанів, що швидко зростає, постійним 
        навчанням, спрямованим на ваш розвиток. Якщо ви хочете дізнатися про нас ще більше, все, 
        що вам потрібно зробити, це слідкувати за нами на нашій сторінці.</p>
</div>
      <form asp-action="Index" asp-controller="Work">
    <p>
        <label asp-for="Name">Ім'я</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="LastName">Прізвище</label><br />
        <input type="text" asp-for="LastName"/>
    </p>
    <p>
        <label asp-for="Age">Вік</label><br />
        <input type="number" asp-for="Age" />
    </p>
    <p>
        <label asp-for="PhoneNumber">Телефонний номер</label><br />
        <input type="text" asp-for="PhoneNumber" />
    </p>
     <p>
        <label asp-for="Email">Пошта</label><br />
        <input type="text" asp-for="Email" />
    </p>
    <p>
        <input type="submit" value="Відправити" />
    </p>
</form>

</div>
</div>
