 
<header  id="main-header">
    <div class="logo">
        <a href="/Home/Index"><img id="logo" src="~/logo.png" alt="Логотип"></a>
      
    </div>
    <div class="button-container">
        <div class="career-link"> @Html.ActionLink("Кар'єра в нас", "Index", "Work")</div>
        <div class="chevron-btn"> @Html.ActionLink("Переглянути меню", "Index", "Menu")</div>
      </div>
  </header>